Repository prgrms-be-devcourse/NBE4-5-2-Team01, pull requests merged in 2025-04, with the labels that each got.

#106 feat(104): Recap 기능 추가 구현
  frontend/src/app/user/recap/page.tsx
  frontend/src/app/user/recap/recap.css
Labels: ✨ feat, 🌈 frontend, 💄 style

#108 refactor(96): Music 코드 리팩토링
  backend/src/main/java/com/team01/project/domain/calendardate/controller/CalendarDateController.java
  backend/src/main/java/com/team01/project/domain/calendardate/repository/CalendarDateRepository.java
  backend/src/main/java/com/team01/project/domain/calendardate/service/CalendarDateService.java
  backend/src/main/java/com/team01/project/domain/music/controller/MusicController.java
  backend/src/main/java/com/team01/project/domain/music/service/SpotifyService.java
  backend/src/main/java/com/team01/project/global/security/SecurityConfig.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/calendar/record/MusicList.tsx
  frontend/src/app/calendar/record/MusicSearch.tsx
  frontend/src/app/calendar/record/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/music/MoodTracks.tsx
  frontend/src/app/music/RecentTracks.tsx
  frontend/src/app/music/page.tsx
  frontend/src/app/music/style.css
  frontend/src/app/utils/koreanPreprocess.ts
  frontend/src/app/utils/spotifyApi.ts
  frontend/src/components/ClientWrapper.tsx
  frontend/src/components/GlobalAlert.tsx
Labels: ✨ feat, 🌈 frontend, 🔥 backend, ♻️ refactor

#110 refactor(99): User Refactoring
  .github/workflows/ci.yml
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/domain/user/controller/UserEmailController.java
  backend/src/main/java/com/team01/project/domain/user/dto/SimpleUserResponse.java
  backend/src/main/java/com/team01/project/domain/user/dto/UserDto.java
  backend/src/main/java/com/team01/project/domain/user/entity/RefreshToken.java
  backend/src/main/java/com/team01/project/domain/user/entity/User.java
  backend/src/main/java/com/team01/project/domain/user/repository/RefreshTokenRepository.java
  backend/src/main/java/com/team01/project/domain/user/repository/UserRepository.java
  backend/src/main/java/com/team01/project/domain/user/service/CustomOAuth2UserService.java
  backend/src/main/java/com/team01/project/domain/user/service/CustomUserDetailsService.java
  backend/src/main/java/com/team01/project/domain/user/service/SpotifyRefreshTokenService.java
  backend/src/main/java/com/team01/project/domain/user/service/UserEmailService.java
  backend/src/main/java/com/team01/project/domain/user/service/UserService.java
  backend/src/main/java/com/team01/project/global/security/JwtTokenFilter.java
  backend/src/main/java/com/team01/project/global/security/JwtTokenProvider.java
  backend/src/main/java/com/team01/project/global/security/OAuth2SuccessHandler.java
  backend/src/main/java/com/team01/project/global/security/SecurityConfig.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/team01/project/user/repository/UserRepositoryTest.java
  backend/src/test/java/com/team01/project/user/service/UserServiceTest.java
  frontend/src/app/login/page.tsx
  frontend/src/app/signup/page.tsx
  frontend/src/app/user/profile/page.tsx
  frontend/src/components/ConditionalSidebar.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/middleware.ts
Labels: ✨ feat, 🌈 frontend, 🔥 backend, ♻️ refactor, ⚙️chore

#111 feat(109): Spotify Playlist 기능
  backend/src/main/java/com/team01/project/domain/music/controller/MusicController.java
  backend/src/main/java/com/team01/project/domain/music/dto/SpotifyPlaylistResponse.java
  backend/src/main/java/com/team01/project/domain/music/service/SpotifyService.java
  backend/src/main/resources/application.yml
  frontend/public/default.jpg
  frontend/src/app/calendar/record/page.tsx
  frontend/src/app/music/PlaylistSection.tsx
  frontend/src/app/music/PlaylistTrackTable.tsx
  frontend/src/app/music/page.tsx
  frontend/src/app/music/style.css
Labels: ✨ feat, 🌈 frontend, 🔥 backend

#114 feat(103): 캘린더 공개 설정 구현 및 리팩토링
  backend/.gitignore
  backend/src/main/java/com/team01/project/domain/calendardate/controller/CalendarDateController.java
  backend/src/main/java/com/team01/project/domain/calendardate/controller/dto/response/CalendarDateFetchResponse.java
  backend/src/main/java/com/team01/project/domain/calendardate/repository/CalendarDateRepository.java
  backend/src/main/java/com/team01/project/domain/calendardate/service/CalendarDateService.java
  backend/src/main/java/com/team01/project/domain/music/repository/MusicRepository.java
  backend/src/main/java/com/team01/project/domain/musicrecord/service/MusicRecordService.java
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/domain/user/dto/CalendarVisibilityUpdateRequest.java
  backend/src/main/java/com/team01/project/domain/user/dto/SimpleUserResponse.java
  backend/src/main/java/com/team01/project/domain/user/dto/UserDto.java
  backend/src/main/java/com/team01/project/domain/user/entity/CalendarVisibility.java
  backend/src/main/java/com/team01/project/domain/user/entity/User.java
  backend/src/main/java/com/team01/project/domain/user/service/UserService.java
  backend/src/main/java/com/team01/project/global/exception/CalendarDateAlreadyExistsException.java
  backend/src/main/java/com/team01/project/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/team01/project/global/exception/PermissionDeniedException.java
  backend/src/main/java/com/team01/project/global/permission/CalendarPermission.java
  backend/src/main/java/com/team01/project/global/permission/PermissionService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/team01/project/calendardate/service/CalendarDateServiceTest.java
  backend/src/test/java/com/team01/project/musicrecord/service/MusicRecordServiceTest.java
  backend/src/test/java/com/team01/project/permission/service/PermissionServiceTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/calendar/[id]/page.tsx
  frontend/src/app/calendar/page.tsx
  frontend/src/app/calendar/record/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/setting/page.tsx
  frontend/src/app/user/calendar-visibility/page.tsx
  frontend/src/components/Calendar.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/calendar/Calendar.tsx
  frontend/src/components/calendar/eventHandlers.ts
  frontend/src/components/calendar/imageBrightness.ts
  frontend/src/components/calendar/plusButton.ts
  frontend/src/components/style/calendar.css
  frontend/src/lib/api/apiClient.ts
  frontend/src/lib/api/calendar.ts
  frontend/src/lib/api/follow.ts
  frontend/src/lib/api/musicRecord.ts
  frontend/src/lib/api/user.ts
  frontend/src/types/calendar.ts
  frontend/src/types/follow.ts
  frontend/src/types/musicRecord.ts
  frontend/src/types/user.ts
Labels: ✨ feat, 🌈 frontend, 🔥 backend, ♻️ refactor, 💄 style
