Repository prgrms-be-devcourse/NBE4-5-2-Team01, pull requests merged in 2025-03, with the labels that each got.

#9 feat(5): Music 구현
  backend/build.gradle
  backend/src/main/java/com/team01/project/domain/music/controller/MusicController.java
  backend/src/main/java/com/team01/project/domain/music/dto/MusicRequest.java
  backend/src/main/java/com/team01/project/domain/music/dto/MusicResponse.java
  backend/src/main/java/com/team01/project/domain/music/dto/SpotifyArtistResponse.java
  backend/src/main/java/com/team01/project/domain/music/dto/SpotifyTrackResponse.java
  backend/src/main/java/com/team01/project/domain/music/entity/Music.java
  backend/src/main/java/com/team01/project/domain/music/repository/MusicRepository.java
  backend/src/main/java/com/team01/project/domain/music/service/MusicService.java
  backend/src/main/java/com/team01/project/domain/music/service/SpotifyService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/team01/project/MusicControllerTest.java
  backend/src/test/java/com/team01/project/ProjectApplicationTests.java
  backend/src/test/resources/application-test.yml
Labels: ✨ feat, 🔥 backend

#17 feat(7) : Follow 구현
  .idea/checkstyle-idea.xml
  .idea/dataSources.local.xml
  .idea/dataSources.xml
  .idea/dataSources/df046d35-c636-4a24-9529-659ab617bee3.xml
  .idea/dataSources/df046d35-c636-4a24-9529-659ab617bee3/storage_v2/_src_/schema/music_calender.lFgWJw.meta
  .idea/uiDesigner.xml
  .idea/workspace.xml
  backend/build.gradle
  backend/checkstyle/naver-checkstyle-rules.xml
  backend/src/main/java/com/team01/project/domain/follow/controller/FollowController.java
  backend/src/main/java/com/team01/project/domain/follow/controller/dto/FollowResponse.java
  backend/src/main/java/com/team01/project/domain/follow/domain/Follow.java
  backend/src/main/java/com/team01/project/domain/follow/repository/FollowRepository.java
  backend/src/main/java/com/team01/project/domain/follow/service/CommandFollowService.java
  backend/src/main/java/com/team01/project/domain/follow/service/QueryFollowService.java
  backend/src/test/java/com/team01/project/common/acceptance/AcceptanceTest.java
  backend/src/test/java/com/team01/project/common/service/ServiceTest.java
  backend/src/test/java/com/team01/project/follow/controller/FollowControllerTest.java
  backend/src/test/java/com/team01/project/follow/service/CommandFollowServiceTest.java
  backend/src/test/java/com/team01/project/follow/service/QueryFollowServiceTest.java
  backend/src/test/resources/application.yml
Labels: ✨ feat, 🔥 backend

#18 feat(15): 알림 페이지 레이아웃 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/public/setting.svg
  frontend/src/app/layout.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/app/notifications/settings/configure/checkbox.tsx
  frontend/src/app/notifications/settings/configure/page.tsx
  frontend/src/app/notifications/settings/create/page.tsx
  frontend/src/app/notifications/settings/edit/page.tsx
  frontend/src/app/notifications/settings/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/style/global.css
  frontend/src/components/style/notification.module.css
  frontend/src/components/style/notificationSetting.module.css
  frontend/src/components/style/notificationSettingConfigure.module.css
Labels: ✨ feat, 🌈 frontend

#22 feat#21: user 브랜치 재생성 커밋
  backend/build.gradle
  backend/src/main/java/com/team01/project/ProjectApplication.java
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/domain/user/dto/UserDto.java
  backend/src/main/java/com/team01/project/domain/user/entity/RefreshToken.java
  backend/src/main/java/com/team01/project/domain/user/entity/User.java
  backend/src/main/java/com/team01/project/domain/user/repository/RefreshTokenRepository.java
  backend/src/main/java/com/team01/project/domain/user/repository/UserRepository.java
  backend/src/main/java/com/team01/project/domain/user/service/CustomOAuth2UserService.java
  backend/src/main/java/com/team01/project/domain/user/service/UserService.java
  backend/src/main/java/com/team01/project/global/security/JwtTokenProvider.java
  backend/src/main/java/com/team01/project/global/security/SecurityConfig.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/team01/project/user/repository/RefreshTokenRepositoryTest.java
  backend/src/test/java/com/team01/project/user/repository/UserRepositoryTest.java
  backend/src/test/java/com/team01/project/user/security/JwtTokenProviderTest.java
  backend/src/test/java/com/team01/project/user/service/CustomOAuth2UserServiceTest.java
Labels: ✨ feat, 🔥 backend

#24 feat(19): 알림 기능 구현
  backend/build.gradle
  backend/src/main/java/com/team01/project/ProjectApplication.java
  backend/src/main/java/com/team01/project/domain/notification/constants/NotificationMessages.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationListController.java
  backend/src/main/java/com/team01/project/domain/notification/dto/CreateNotificationReqBody.java
  backend/src/main/java/com/team01/project/domain/notification/dto/ModifyNotificationReqBody.java
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationDto.java
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationListDto.java
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationUpdateDto.java
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationUpdateRequest.java
  backend/src/main/java/com/team01/project/domain/notification/entity/Notification.java
  backend/src/main/java/com/team01/project/domain/notification/entity/NotificationList.java
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationUpdatedEvent.java
  backend/src/main/java/com/team01/project/domain/notification/repository/NotificationListRepository.java
  backend/src/main/java/com/team01/project/domain/notification/repository/NotificationRepository.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationListService.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationScheduler.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationSender.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationService.java
  backend/src/main/java/com/team01/project/domain/user/entity/User.java
  backend/src/main/java/com/team01/project/domain/user/service/CustomOAuth2UserService.java
  backend/src/main/java/com/team01/project/global/config/JpaConfig.java
  backend/src/main/java/com/team01/project/global/config/SchedulingConfig.java
  backend/src/main/resources/application.yml
Labels: ✨ feat, 🔥 backend

#27 feat(12): 인증 기능 수정, 인가 기능 구현
  backend/build.gradle
  backend/src/main/java/com/team01/project/domain/user/controller/HandleSpotifyController.java
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/domain/user/dto/UserDto.java
  backend/src/main/java/com/team01/project/domain/user/service/CustomOAuth2UserService.java
  backend/src/main/java/com/team01/project/domain/user/service/CustomUserDetailsService.java
  backend/src/main/java/com/team01/project/domain/user/service/SpotifyRefreshTokenService.java
  backend/src/main/java/com/team01/project/global/security/JwtTokenFilter.java
  backend/src/main/java/com/team01/project/global/security/JwtTokenProvider.java
  backend/src/main/java/com/team01/project/global/security/OAuth2SuccessHandler.java
  backend/src/main/java/com/team01/project/global/security/SecurityConfig.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback.xml
  backend/src/test/java/com/team01/project/user/security/JwtTokenProviderTest.java
  backend/src/test/resources/application-test.yml
  backend/src/test/resources/application.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/login/callback/page.tsx
  frontend/src/app/login/page.tsx
Labels: ✨ feat, 🌈 frontend, ♻️ refactor, ⚙️chore

#28 feat(20) : User와 Follow 연결 및 확장
  backend/src/main/java/com/team01/project/domain/follow/controller/FollowController.java
  backend/src/main/java/com/team01/project/domain/follow/controller/dto/FollowResponse.java
  backend/src/main/java/com/team01/project/domain/follow/entity/Follow.java
  backend/src/main/java/com/team01/project/domain/follow/repository/FollowRepository.java
  backend/src/main/java/com/team01/project/domain/follow/service/CommandFollowService.java
  backend/src/main/java/com/team01/project/domain/follow/service/QueryFollowService.java
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/domain/user/dto/SimpleUserResponse.java
  backend/src/main/java/com/team01/project/domain/user/dto/UserDto.java
  backend/src/main/java/com/team01/project/domain/user/entity/User.java
  backend/src/main/java/com/team01/project/domain/user/repository/UserRepository.java
  backend/src/main/java/com/team01/project/global/security/SecurityConfig.java
  backend/src/test/java/com/team01/project/ProjectApplicationTests.java
  backend/src/test/java/com/team01/project/follow/controller/FollowControllerTest.java
  backend/src/test/java/com/team01/project/follow/service/CommandFollowServiceTest.java
  backend/src/test/java/com/team01/project/follow/service/QueryFollowServiceTest.java
  backend/src/test/java/com/team01/project/user/entity/UserFixture.java
  backend/src/test/java/com/team01/project/user/repository/UserRepositoryTest.java
  backend/src/test/resources/application.yml
Labels: ✨ feat, 🔥 backend

#29 feat(25): 알림 인가
  backend/src/main/java/com/team01/project/domain/notification/constants/NotificationMessages.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationListController.java
  backend/src/main/java/com/team01/project/domain/notification/entity/Notification.java
  backend/src/main/java/com/team01/project/domain/notification/entity/NotificationList.java
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationInitEvent.java
  backend/src/main/java/com/team01/project/domain/notification/service/CustomScheduledTask.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationListService.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationScheduler.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationService.java
  backend/src/main/java/com/team01/project/domain/user/service/CustomOAuth2UserService.java
Labels: ✨ feat, 🔥 backend

#36 feat(35): CORS 설정
  backend/src/main/java/com/team01/project/global/app/AppConfig.java
  backend/src/main/java/com/team01/project/global/security/SecurityConfig.java
Labels: 🔥 backend, ⚙️chore

#32 feat(6): CalendarDate 구현
  backend/src/main/java/com/team01/project/domain/calendardate/controller/CalendarDateController.java
  backend/src/main/java/com/team01/project/domain/calendardate/controller/dto/request/CalendarDateCreateRequest.java
  backend/src/main/java/com/team01/project/domain/calendardate/controller/dto/request/CalendarDateMemoSaveRequest.java
  backend/src/main/java/com/team01/project/domain/calendardate/controller/dto/request/CalendarDateMusicSaveRequest.java
  backend/src/main/java/com/team01/project/domain/calendardate/controller/dto/response/CalendarDateCreateResponse.java
  backend/src/main/java/com/team01/project/domain/calendardate/controller/dto/response/CalendarDateFetchResponse.java
  backend/src/main/java/com/team01/project/domain/calendardate/controller/dto/response/MonthlyFetchResponse.java
  backend/src/main/java/com/team01/project/domain/calendardate/entity/CalendarDate.java
  backend/src/main/java/com/team01/project/domain/calendardate/repository/CalendarDateRepository.java
  backend/src/main/java/com/team01/project/domain/calendardate/service/CalendarDateService.java
  backend/src/main/java/com/team01/project/domain/musicrecord/entity/MusicRecord.java
  backend/src/main/java/com/team01/project/domain/musicrecord/entity/MusicRecordId.java
  backend/src/main/java/com/team01/project/domain/musicrecord/repository/MusicRecordRepository.java
  backend/src/main/java/com/team01/project/domain/musicrecord/service/MusicRecordService.java
  backend/src/main/java/com/team01/project/global/permission/PermissionService.java
  backend/src/test/java/com/team01/project/calendardate/service/CalendarDateServiceTest.java
  backend/src/test/java/com/team01/project/musicrecord/service/MusicRecordServiceTest.java
  backend/src/test/java/com/team01/project/permission/service/PermissionServiceTest.java
Labels: ✨ feat

#42 feat(30): 팔로우 알림, 음악 기록 알림
  backend/src/main/java/com/team01/project/domain/follow/service/CommandFollowService.java
  backend/src/main/java/com/team01/project/domain/musicrecord/service/MusicRecordService.java
  backend/src/main/java/com/team01/project/domain/notification/constants/NotificationMessages.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationListController.java
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationFollowEvent.java
  backend/src/main/java/com/team01/project/domain/notification/event/NotificationRecordEvent.java
  backend/src/main/java/com/team01/project/domain/notification/repository/NotificationListRepository.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationListService.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationScheduler.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationSender.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationService.java
Labels: ✨ feat, 🔥 backend

#43 feat(34): 알림 프론트 api 연동 및 푸시알림 설정
  backend/build.gradle
  backend/src/main/java/com/team01/project/domain/notification/constants/NotificationMessages.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationListController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/SubscriptionController.java
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationDto.java
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationListDto.java
  backend/src/main/java/com/team01/project/domain/notification/dto/NotificationUpdateRequest.java
  backend/src/main/java/com/team01/project/domain/notification/dto/SubscriptionDto.java
  backend/src/main/java/com/team01/project/domain/notification/entity/Subscription.java
  backend/src/main/java/com/team01/project/domain/notification/repository/SubscriptionRepository.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationScheduler.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationSender.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationService.java
  backend/src/main/java/com/team01/project/domain/notification/service/PushNotificationService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/team01/project/follow/service/CommandFollowServiceTest.java
  backend/src/test/resources/application.yml
  frontend/public/bell.png
  frontend/public/music_calendar.png
  frontend/public/notification.png
  frontend/public/sw.js
  frontend/src/app/notifications/page.tsx
  frontend/src/app/notifications/settings/configure/checkbox.tsx
  frontend/src/app/notifications/settings/configure/page.tsx
  frontend/src/app/notifications/settings/edit/page.tsx
  frontend/src/app/push/page.tsx
  frontend/src/components/style/notificationSettingEdit.module.css
Labels: ✨ feat, 🌈 frontend, 🔥 backend

#47 feat(44): 사이드바 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/public/user.png
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/notifications/configure/checkbox.tsx
  frontend/src/app/notifications/configure/page.tsx
  frontend/src/app/notifications/edit/page.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/app/notifications/settings/configure/page.tsx
  frontend/src/app/notifications/settings/create/page.tsx
  frontend/src/app/notifications/settings/edit/page.tsx
  frontend/src/app/notifications/settings/page.tsx
  frontend/src/app/setting/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/style/notification.module.css
  frontend/src/components/style/notificationSettingConfigure.module.css
  frontend/src/components/style/notificationSettingEdit.module.css
  frontend/src/components/style/setting.module.css
Labels: ✨ feat, 🌈 frontend, ♻️ refactor, 💄 style

#45 feat(39): 음악 추천 페이지 구현
  backend/src/main/java/com/team01/project/domain/music/controller/MusicController.java
  backend/src/main/java/com/team01/project/domain/music/dto/MusicRequest.java
  backend/src/main/java/com/team01/project/domain/music/dto/MusicResponse.java
  backend/src/main/java/com/team01/project/domain/music/dto/SpotifyTrackResponse.java
  backend/src/main/java/com/team01/project/domain/music/entity/Music.java
  backend/src/main/java/com/team01/project/domain/music/service/MusicService.java
  backend/src/main/java/com/team01/project/domain/music/service/SpotifyService.java
  backend/src/main/java/com/team01/project/domain/musicrecord/repository/MusicRecordRepository.java
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/domain/user/service/UserService.java
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/music/page.tsx
  frontend/src/app/music/style.css
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/lib/utils.ts
Labels: ✨ feat, 🌈 frontend, 🔥 backend

#46 feat(31): refresh token 요청 및 응답
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/domain/user/dto/UserDto.java
  backend/src/main/java/com/team01/project/domain/user/entity/RefreshToken.java
  backend/src/main/java/com/team01/project/domain/user/entity/User.java
  backend/src/main/java/com/team01/project/domain/user/repository/RefreshTokenRepository.java
  backend/src/main/java/com/team01/project/domain/user/service/CustomOAuth2UserService.java
  backend/src/main/java/com/team01/project/domain/user/service/SpotifyRefreshTokenService.java
  backend/src/main/java/com/team01/project/domain/user/service/UserService.java
  backend/src/main/java/com/team01/project/global/permission/PermissionService.java
  backend/src/main/java/com/team01/project/global/security/JwtTokenFilter.java
  backend/src/main/java/com/team01/project/global/security/JwtTokenProvider.java
  backend/src/main/java/com/team01/project/global/security/OAuth2SuccessHandler.java
  backend/src/test/java/com/team01/project/user/security/JwtTokenProviderTest.java
  backend/src/test/java/com/team01/project/user/service/CustomOAuth2UserServiceTest.java
  frontend/package-lock.json
  frontend/src/app/login/callback/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/login/test/page.tsx
  frontend/src/middleware.ts
Labels: ✨ feat, 🌈 frontend, ♻️ refactor

#52 Feat#(50): 로그아웃, 자기소개, 마이페이지 구현
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/domain/user/service/UserService.java
  backend/src/main/java/com/team01/project/global/security/OAuth2SuccessHandler.java
  frontend/src/app/login/callback/page.tsx
  frontend/src/app/user/profile/page.tsx
  frontend/src/middleware.ts
Labels: ✨ feat, 🌈 frontend, 🔥 backend, ♻️ refactor, ⚙️chore

#59 feat(48): 통계 페이지 레이아웃 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/notifications/configure/page.tsx
  frontend/src/app/notifications/edit/page.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/push/page.tsx
  frontend/src/app/user/recap/page.tsx
  frontend/src/app/user/recap/recap.css
  frontend/src/components/Sidebar.tsx
Labels: ✨ feat, 🌈 frontend

#64 Feat#(55): 자기소개, 유저 정보 업데이트 기능
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/domain/user/entity/RefreshToken.java
  backend/src/main/java/com/team01/project/domain/user/entity/User.java
  backend/src/main/java/com/team01/project/domain/user/service/UserService.java
  frontend/src/app/setting/page.tsx
  frontend/src/app/user/profile/page.tsx
  frontend/src/components/Sidebar.tsx
Labels: ✨ feat, 🌈 frontend, 🔥 backend

#69 feat(51): Music Recommend 음악 기록이 없는 경우 빈 리스트 반환 처리
  backend/src/main/java/com/team01/project/domain/music/controller/MusicController.java
  backend/src/main/java/com/team01/project/domain/music/service/MusicService.java
  frontend/src/app/music/RecentTracks.tsx
  frontend/src/app/music/page.tsx
Labels: ✨ feat, 🌈 frontend, 🔥 backend, ♻️ refactor

#68 Feat(#66): swagger 적용
  backend/build.gradle
  backend/src/main/java/com/team01/project/global/config/SwaggerConfig.java
Labels: ✨ feat, 🔥 backend, ⚙️chore

#70 feat#61: 통계 api 연동
  backend/src/main/java/com/team01/project/domain/musicrecord/controller/MusicRecordController.java
  backend/src/main/java/com/team01/project/domain/musicrecord/controller/dto/MusicRecordDto.java
  backend/src/main/java/com/team01/project/domain/musicrecord/repository/MusicRecordRepository.java
  backend/src/main/java/com/team01/project/domain/musicrecord/service/MusicRecordService.java
  frontend/package-lock.json
  frontend/src/app/calendar/record/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/login/callback/page.tsx
  frontend/src/app/music/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/push/page.tsx
  frontend/src/app/user/profile/page.tsx
  frontend/src/app/user/recap/page.tsx
  frontend/src/components/Calendar.tsx
  frontend/src/components/Sidebar.tsx
Labels: ✨ feat, 🌈 frontend, 🔥 backend

#75 feat#72: 알림 & 통계 리팩토링
  backend/src/main/java/com/team01/project/domain/notification/entity/Notification.java
  frontend/src/app/setting/page.tsx
  frontend/src/app/user/recap/page.tsx
Labels: 🐛bug, ♻️ refactor

#76 refactor#(73): 로그인 리팩토링
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  frontend/src/app/layout.tsx
  frontend/src/app/login/test/page.tsx
  frontend/src/components/ConditionalSidebar.tsx
Labels: 🌈 frontend, 🔥 backend, ♻️ refactor

#82 Style(67): UI Style 통합
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/calendar/record/page.tsx
  frontend/src/app/follow/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/music/MoodTracks.tsx
  frontend/src/app/music/RecentTracks.tsx
  frontend/src/app/music/page.tsx
  frontend/src/app/music/style.css
  frontend/src/app/user/profile/page.tsx
  frontend/src/app/user/profile/style.css
  frontend/src/app/user/recap/recap.css
  frontend/src/app/user/search/page.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/alert.tsx
  frontend/src/components/style/follow.css
  frontend/src/components/style/notification.module.css
  frontend/src/components/style/notificationSettingConfigure.module.css
  frontend/src/components/style/notificationSettingEdit.module.css
  frontend/src/components/style/search.css
  frontend/src/components/style/setting.module.css
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/button.tsx
Labels: 🌈 frontend, 💄 style

#81 style(73): 캘린더 스타일 변경
  frontend/src/app/calendar/[id]/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/Calendar.tsx
Labels: 🌈 frontend, 💄 style

#80 Refactor#(77): api swagger tag 작업
  backend/src/main/java/com/team01/project/domain/user/controller/HandleSpotifyController.java
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/global/config/SwaggerConfig.java
Labels: 🔥 backend, ♻️ refactor

#85 bug(71): 먼슬리 캘린더 권한 문제 해결
  frontend/src/components/Calendar.tsx
Labels: 🌈 frontend, 🐛bug

#83 feat#79: 알림 리팩토링 및 swagger tag 추가
  backend/src/main/java/com/team01/project/domain/musicrecord/controller/MusicRecordController.java
  backend/src/main/java/com/team01/project/domain/musicrecord/service/MusicRecordService.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationListController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/SubscriptionController.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationSender.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationService.java
  backend/src/main/java/com/team01/project/domain/notification/service/PushNotificationService.java
  frontend/src/app/calendar/record/MemoInput.tsx
  frontend/src/app/calendar/record/MusicList.tsx
  frontend/src/app/user/recap/page.tsx
  frontend/src/app/user/recap/recap.css
Labels: ♻️ refactor

#89 refactor#(86): 캘린더 swagger tag 적용
  backend/src/main/java/com/team01/project/domain/calendardate/controller/CalendarDateController.java
Labels: 🔥 backend, ♻️ refactor

#93 bug#(92): 디폴트 프로필 이미지 에러 수정
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationSender.java
  frontend/src/app/user/profile/page.tsx
Labels: 🌈 frontend, 🔥 backend, 🐛bug

#102 feat(101): 응답방식 통일
  backend/src/main/java/com/team01/project/domain/musicrecord/controller/MusicRecordController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/NotificationListController.java
  backend/src/main/java/com/team01/project/domain/notification/controller/SubscriptionController.java
  backend/src/main/java/com/team01/project/global/aspect/ResponseAspect.java
  backend/src/main/java/com/team01/project/global/dto/RsData.java
  frontend/src/app/notifications/configure/page.tsx
  frontend/src/app/notifications/edit/page.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/app/user/recap/page.tsx
Labels: ✨ feat, 🌈 frontend, 🔥 backend, ♻️ refactor

#97 refactor(94): 캘린더 API HTTP 메서드 변경
  backend/src/main/java/com/team01/project/domain/calendardate/controller/CalendarDateController.java
  frontend/src/app/calendar/record/page.tsx
Labels: 🌈 frontend, 🔥 backend, ♻️ refactor

#100 refactor(95): Notification Refactoring
  backend/src/main/java/com/team01/project/domain/calendardate/service/CalendarDateService.java
  backend/src/main/java/com/team01/project/domain/musicrecord/service/MusicRecordService.java
  backend/src/main/java/com/team01/project/domain/notification/controller/SubscriptionController.java
  backend/src/main/java/com/team01/project/domain/notification/entity/Subscription.java
  backend/src/main/java/com/team01/project/domain/notification/repository/NotificationRepository.java
  backend/src/main/java/com/team01/project/domain/notification/repository/SubscriptionRepository.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationScheduler.java
  backend/src/main/java/com/team01/project/domain/notification/service/NotificationService.java
  backend/src/main/java/com/team01/project/domain/user/controller/UserController.java
  backend/src/main/java/com/team01/project/global/config/AsyncConfig.java
  backend/src/main/java/com/team01/project/global/config/SchedulingConfig.java
  backend/src/test/java/com/team01/project/calendardate/service/CalendarDateServiceTest.java
Labels: 🔥 backend, 🐛bug, ♻️ refactor
